<section class="bg-white dark:bg-gray-900" id="faq">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<h2 class="pb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Questions fréquentes
		</h2>
		<div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
			<div>
				<div class="mb-10">
					<h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
						<svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
						</svg>
						Qu’est-ce que QuickEsti ?
					</h3>
					<p class="text-gray-500 dark:text-gray-400">QuickEsti est un outil d’estimation intelligent qui aide freelances et entreprises à évaluer rapidement et précisément le coût, la durée et la complexité d’un projet web.</p>
				</div>
				<div class="mb-10">
					<h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
						<svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
						</svg>
						À qui s’adresse QuickEsti ?
					</h3>
					<p class="text-gray-500 dark:text-gray-400">QuickEsti s’adresse aux freelances (en régie ou au forfait), aux agences, aux développeurs indépendants et aux entreprises cherchant à estimer un projet web avant de lancer sa réalisation.</p>
				</div>
				<div class="mb-10">
					<h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
						<svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
						</svg>
						Comment fonctionne l’estimation ?
					</h3>
					<p class="text-gray-500 dark:text-gray-400">
						L’utilisateur renseigne des informations sur le projet (type, fonctionnalités, contraintes, etc.), et QuickEsti génère une estimation réaliste en utilisant l’intelligence artificielle et un système d’analyse prédéfini.
						<a href="{{ path('app_estimation') }}" class="font-semibold text-primary-600 dark:text-primary-500 hover:underline" target="_blank" rel="noreferrer">Essayez QuickEsti </a>!</p>
				</div>
				<div class="mb-10">
					<h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
						<svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
						</svg>
						QuickEsti remplace-t-il un devis ?
					</h3>
					<p class="text-gray-500 dark:text-gray-400">Oui. QuickEsti fournit une estimation préliminaire structurée qui peut servir de base à un devis. 
					Elle ne remplace pas l'analyse personnalisée faite par un professionnel, elle la complète, et elle vous aide à obtenir un aperçu rapide et fiable des coûts et durées du projet.</p>
				</div>
			</div>
			<div>
				<div class="mb-10">
					<h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
						<svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
						</svg>
						Peut-on exporter les résultats ?
					</h3>
					<p class="text-gray-500 dark:text-gray-400">Oui, l’outil permet d’exporter les résultats de l’estimation au format PDF, avec des sections détaillées, des graphiques et des recommandations utiles.</p>
				</div>
				<div class="mb-10">
					<h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
						<svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
						</svg>
						Quelle est la différence entre le mode freelance et entreprise ?
					</h3>
					<p class="text-gray-500 dark:text-gray-400">Le mode freelance se concentre sur les contraintes, objectifs et TJM de l’indépendant, tandis que le mode entreprise prend en compte l’équipe projet, les profils nécessaires et le budget global.</p>
				</div>
				<div class="mb-10">
					<h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
						<svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
						</svg>
						Est-ce que QuickEsti prend en compte la complexité du projet ?
					</h3>
					<p class="text-gray-500 dark:text-gray-400">Oui. QuickEsti analyse automatiquement la complexité via les technologies utilisées, les fonctionnalités demandées, et les exigences du projet, afin d’adapter l’estimation.</p>
				</div>
				<div class="mb-10">
					<h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
						<svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
						</svg>
						Pourquoi utiliser QuickEsti en tant que freelance ?
					</h3>
					<p class="text-gray-500 dark:text-gray-400">Parce qu’il permet de ne plus sous-estimer ses projets, de mieux justifier ses tarifs auprès des clients, et de gagner du temps dans la préparation de propositions commerciales.</p>
				</div>
			</div>
		</div>
	</div>
</section>
